<app-readall-header></app-readall-header>
<section class="u-clearfix u-image u-section-1" id="carousel_4db5">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a (click)="goToAddBook()" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">add
            New book</a>

        <div id="shelf" class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-col">
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div
                                class="u-container-style u-custom-color-1 u-layout-cell u-size-15 u-size-30-md u-layout-cell-1">
                                <div class="u-container-layout u-container-layout-1">
                                    <img class="u-image u-image-default u-image-1"
                                        src="../../../assets/images/download1.jpg" alt="" data-image-width="177"
                                        data-image-height="284">
                                </div>
                            </div>
                            <div
                                class="u-container-style u-custom-color-1 u-layout-cell u-size-15 u-size-30-md u-layout-cell-2">
                                <div class="u-container-layout u-container-layout-2">
                                    <img class="u-image u-image-default u-image-2"
                                        src="../../../assets/images/download2.jpg" alt="" data-image-width="182"
                                        data-image-height="276">
                                </div>
                            </div>
                            <div
                                class="u-container-style u-custom-color-1 u-layout-cell u-size-15 u-size-30-md u-layout-cell-3">
                                <div class="u-container-layout u-container-layout-3">
                                    <img class="u-image u-image-default u-image-3"
                                        src="../../../assets/images/download.jpg" alt="" data-image-width="177"
                                        data-image-height="284">
                                </div>
                            </div>
                            <div
                                class="u-container-style u-custom-color-1 u-layout-cell u-size-15 u-size-30-md u-layout-cell-4">
                                <div class="u-container-layout u-container-layout-4">
                                    <img class="u-image u-image-default u-image-4"
                                        src="../../../assets/images/images1.jpg" alt="" data-image-width="182"
                                        data-image-height="277">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div
                                class="u-container-style u-custom-color-1 u-layout-cell u-size-15 u-size-30-md u-layout-cell-5">
                                <div class="u-container-layout u-container-layout-5">
                                    <img class="u-image u-image-default u-image-5"
                                        src="../../../assets/images/images2.jpg" alt="" data-image-width="182"
                                        data-image-height="277">
                                </div>
                            </div>
                            <div
                                class="u-container-style u-custom-color-1 u-layout-cell u-size-15 u-size-30-md u-layout-cell-6">
                                <div class="u-container-layout u-container-layout-6">
                                    <img class="u-image u-image-default u-image-6"
                                        src="../../../assets/images/images3.jpg" alt="" data-image-width="180"
                                        data-image-height="281">
                                </div>
                            </div>
                            <div
                                class="u-container-style u-custom-color-1 u-layout-cell u-size-15 u-size-30-md u-layout-cell-7">
                                <div class="u-container-layout u-container-layout-7">
                                    <img class="u-image u-image-default u-image-7"
                                        src="../../../assets/images/images4.jpg" alt="" data-image-width="178"
                                        data-image-height="283">
                                </div>
                            </div>
                            <div
                                class="u-container-style u-custom-color-1 u-layout-cell u-size-15 u-size-30-md u-layout-cell-8">
                                <div class="u-container-layout u-container-layout-8">
                                    <img class="u-image u-image-default u-image-8"
                                        src="../../../assets/images/images.jpg" alt="" data-image-width="178"
                                        data-image-height="284">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>